@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles/responsive.scss";
@import "../../../../src/styles/sizes.scss";
@import "../../../../src/styles/animations.scss";

.footer {
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  @include tablet {
    height: 160px;
  }
  @include desktop {
    height: 60px;
  }


  &__container {
      display: flex;
      justify-content: center;
      width: 20%;
      height: 60px;
  }
  &__img {
    cursor: pointer;
    padding: 0 10px 0 10px;
    @include tablet {
      width: 20px;
      height: auto;
    }
   
  }
}
