<div  [ngClass]="boton ? 'moreintro': 'lessintro'" class="intro">
    <div class="intro__container">
        <img class="intro__img" src="{{intro.img.img}}" alt="{{intro.img.name}}">
        <div [ngClass]="boton ? 'more': 'less'" class="intro__descripcion">
            <p class="intro__descripcion-details">{{intro.descripcion}}</p>
            <p  [ngClass]="boton ? 'flex': 'none'" class="intro__descripcion-details">{{intro.moreinfo}}</p>
            <button class="intro__button" (click)="onButtonClick()">(+/-)</button>
        </div>
    </div>
</div>



