@import "../../../../../src/styles/colors.scss";
@import "../../../../../src/styles/fonts.scss";
@import "../../../../../src/styles/responsive.scss";
@import "../../../../../src/styles/sizes.scss";
@import "../../../../../src/styles/animations.scss";

.intro {
  width: 100%;
  background-color: $secondary-color;
  &__container {
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    @include tablet {
      max-width: 991px;
      max-height: 600px;
    }
    @include desktop {
      max-width: 1350px;
      max-height: 600px;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;

    height: auto;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 1350px;
      max-width: 1350px;
      border-radius: 0 0 10px 10px;
    }
  }
  &__descripcion {
    width: 100%;
    position: absolute;
    background-color: $primary-color;
    color: white;
    text-align: center;
    top: 352px;
    // @include tablet {
    //   width: 548px;
    //   border-radius: 15px;
    //   left: 100px;
    // }
    @include desktop {
      width: 548px;
      max-width: 550px;
      border-radius: 15px;
      left: 401px;
    }
    &-details {
      margin: 20px;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      @include tablet {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  &__button {
    background: $primary-color;
    color: white;
    font-size: 20px;
    border-style: none;
  }
}

// ----- Eventos -----
.none {
  display: none;
}
.flex {
  display: flex;
}
.more {
  height: auto;

  @include desktop {
    height: 600px;
  }
}
.less {
  height: auto;
  @include desktop {
    height: 310px;
  }
}
.moreintro {
  height: 930px;
  @include tablet {
    height: 810px;
  }
  @include desktop {
    height: 980px;
  }
}
.lessintro {
  height: 637px;
  @include tablet {
    height: 600px;
  }
  @include desktop {
    height: 670px;
  }
}
