<nav [ngClass]="flag ? 'grey': 'dark'" class="navbar">
    <div class="navbar__container">
        <div class="navbar__links">
            <p>{{header.links[0]}}</p>
            <p>{{header.links[1]}}</p>
        </div>
        <div class="navbar__center">
            <img class="navbar__center-box" src="{{header.icon.img}}" alt="{{header.icon.name}}">
            <img (click)="onButtonClick()" class="navbar__button" src="{{header.img}}" alt="">
        </div>
        <div class="navbar__links">
            <p>{{header.links[2]}}</p>
            <p>{{header.links[3]}}</p>

        </div>
    </div>
</nav>