@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles/responsive.scss";
@import "../../../../src/styles/sizes.scss";
@import "../../../../src/styles/animations.scss";



.navbar {
  width: 100%;
  height: 55px;
  &__container {
    display: flex;
  }
  &__links {
    display: none;
    @include tablet {
      display: flex;
      width: 30%;
      height: 55px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-family: 'Press Start 2P', cursive;
      font-size: 12px;
      cursor: pointer;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__center {
  width: 100%;
  display: flex;
  &-box {
    padding-left: 70px;
    width: 140px;
    height: auto;
  }
  @include tablet {
    width: 30%;
    &-box {
      padding-left: 0;
      width: 180px;
      height: auto;
      position: absolute;
      z-index: 100;
      transform: rotate(-5deg);
    }
  }
  @include desktop {
    width: 20%;
    &-box {
      width: 200px;
    }
  }
  }
  &__button {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
    @include tablet {
      width: 45px;
      height: auto;
      padding-top: 5px;
      padding-left: 200px;
    }
  }
}
// -------- Evento ------
.dark {
  background-color: $primary-color;
  color: white;
}
.grey {
  background-color: #EBB47E;
  color: black;
}
