@import "../../../../../src/styles/colors.scss";
@import "../../../../../src/styles/fonts.scss";
@import "../../../../../src/styles/responsive.scss";
@import "../../../../../src/styles/sizes.scss";
@import "../../../../../src/styles/animations.scss";

.middle {
  width: 100%;
  height: auto;
  background-color: $secondary-color;
  @include tablet {
    height: 651px;
  }
  @include desktop {
    height: 1100px;
  }
  &__container {
    max-width: 100%;
    max-height: auto;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;
    justify-content: center;
    @include desktop {
      max-width: 1230px;
      border-radius: 5px;
    }
  }
  &__wrap {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include tablet {
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
    }
    &-img {
      width: 100%;
      filter: brightness(50%);
    }
    &-img:hover {
      width: 99%;
    }
    &-text {
      position: absolute;
      color: white;
      top: 40px;
      @include tablet {
        top: 55px;
      }
      @include desktop {
        top: 114px;
      }
    }
    &-subtitle {
      position: absolute;
      color: white;
      font-size: 12px;
      @include tablet {
        position: absolute;
        color: white;
        font-size: 15px;
      }
      @include desktop {
        font-size: 18 bpx;
      }
    }
  }
}
