<div class="middle">
    <div class="middle__container">
        <div  class="middle__wrap" *ngFor="let articles of middle">
            <img  class="middle__wrap-img" src="{{articles.img.img}}" alt="{{articles.img.name}}">
            <h1 class="middle__wrap-text">{{articles.title}}</h1>
            <h3 class="middle__wrap-subtitle">{{articles.subtitle}}</h3>
        </div>
    </div>
</div>
