<div class="last">
    <div class=last__container>
        <div  class="last__wrap" *ngFor="let articles of last">
            <img (mouseover)="onButtonClick()" [ngClass]="flag ? 'size': 'SecondSize'" class="last__wrap-img" src="{{articles.img.img}}" alt="{{articles.img.name}}">
            <h3   class="last__wrap-text">{{articles.title}}</h3>
            <p class="last__wrap-text">{{articles.subtitle}}</p>
        </div>
    </div>
</div>