@import "../../../../../src/styles/colors.scss";
@import "../../../../../src/styles/fonts.scss";
@import "../../../../../src/styles/responsive.scss";
@import "../../../../../src/styles/sizes.scss";
@import "../../../../../src/styles/animations.scss";

.last {
  width: 100%;
  background-color: #272727;
  @include tablet {
    height: 300px;
  }
  &__container {
    padding-top: 30px;
    width: 100%;
    @include tablet {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
    }
    @include desktop {
      max-width: 1350px;
    }
  }
  &__wrap {
    width: 90%;
    padding-top: 10px;
    color: white;
    @include tablet {
      width: 20%;
      height: auto;
    }
    &-img {
      width: 100%;
      border: 1px solid white;
    }
    &-text {
      text-align: center;
    }
  }
}
// ----Evento---
.size {
  width: 100%;
}
.SecondSize {
  width: 101%;
  border: 2px solid blue;
}
